<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Wont you read qiita ?</h1>
  <!--
  <button id="button-prev">←</button>
  <button id="button-next">→</button>
  -->
  <ul>
    <% items.forEach(function(item) { %>
    <li><a href="<%= item.url %>" target="_blank"><%= item.title %></a></li>
    <% }); %>
  </ul>

</body>
</html>